@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --font-admin: 'Barlow', Helvetica, Arial, sans-serif !important;
}

.container {
    width: 95% !important;
}

/*
 * Navbar
 */
.navbar {
    font-family: var(--font-admin);
    border-radius: 15px;
}

.navbar-brand {
    font-size: 23px;
    color: #022846 !important;
    font-weight: bold;
}

#admin-navbar-collapse li a {
    font-size: 17px !important;
}

.pull-right a {
    font-weight: bold;
    font-size: 17px !important;
}

/*
 * List/Table view
 */

.actions-nav a {
    font-family: var(--font-admin);
    font-size: 17px !important;
}

table td {
    font-family: var(--font-admin);
    font-size: 16px !important;
}

table th {
    font-family: var(--font-admin);
    font-size: 17px !important;
    font-weight: bold;
}

.fa-pencil {
    color: #1f618d !important;
    margin-right: 10px;
    font-size: 25px !important;
}

.fa-trash {
    color: #c0392b !important;
    font-size: 25px !important;
}

.fa-eye {
    color: #27ae60 !important;
    font-size: 25px !important;
    margin-right: 10px !important;
}

.fa-pencil:hover {
    color: #5dade2 !important;
}

.fa-trash:hover {
    color: #d98880 !important;
}

.fa-eye:hover {
    color: #82e0aa !important;
}


/*
 * Font styles for the admin interface
 */
.heading1 {
    font-family: var(--font-admin);
    font-size: 33px;
    font-weight: bold;
}

.heading2 {
    font-family: var(--font-admin);
    font-size: 26px;
}

.heading3 {
    font-family: var(--font-admin);
    font-size: 20px;
}

.normal-text {
    font-family: var(--font-admin);
    font-size: 18px;
}

.normal-text-form {
    font-family: var(--font-admin);
    font-size: 15px;
}

.sep-index {
    border: none;
    height: 20px;
    width: 90%;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
}

/*
 * Form styles
 */
.control-label {
    font-family: var(--font-admin);
    font-weight: bold;
    font-size: 16px !important;
}